/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

body {
  height: 100%;
  background-color:#FFFFFF;
  width: 100%;
  font-family: 'Varela Round',georgia,serif;
  font-size: 18.34px ;
  line-height: 100%;
}

iframe {
  text-align:center;
  display:inline;
  padding-top: 20px;
  padding-bottom:20px;
}





h1,h2,h3,h4,h5 {
  color: #000000;
  font-weight:bold;
  font-family:'PT Serif Caption',serif;
  text-rendering: optimizeLegibility: ;
}

p {
  text-align: justify;    
//  text-justify: inter-word;   
}

a,a:link,a:visited {
    color: black;
    border-bottom: 1px dotted #000;
    text-decoration: none;
}
a:hover  {
    color: #E68415;
    text-decoration:bold;
}

.maintitle {
  color:#000;
  font-size:48px;
  font-weight: bold;
  font-family: 'Varela Round',georgia,serif;
  margin-bottom: 0.5em;
}

.maintitle img {
  width: 100%;
  }
.maintitle  a:link, .maintitle  a:visited{
  border-bottom: none;   
  line-height:140%;
}

#spaced {
    padding-bottom:0.5em;
}

table {
  font-size: inherit;
  font: 100%;
}





.excerpt {
    font-family: 'Cambo',georgia,serif;
    color:#000;
    display:inline;
    font-size:12pt;
}

.bannerimg {
  max-width:3000px;
  width: 100%;
  vertical-align: inherit;
  margin-top:1.5em;
  margin-bottom:1.5em;
}


/* .jrnl  {
   padding: 0.5em;
   background-color: #FFFAF0;
   }
 */
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.swirl {
  background: url( https://docs.google.com/uc?id=0B6d70FmpKIi1bFNKWnY4ZGtnZVk )  no-repeat center;
    background-size: 70px;
    background-position:center;
    height:70px;
}

#post {
  font-family: 'Varela Round',georgia,serif;
  font-size: 18px ;
}


#post p {
      line-height: 1.57em; //25px;
}

.linenodiv {
    border-right: 1px solid #ddd;
    padding-right: 4px;
}

#post code {
  background-color:inherit;
  color: inherit;
  font-size: 90%;
}

#post pre{
  font-size: 80%;
  background:white;
  border:0px;
  margin-left:-0.5em;
  overflow-x: auto;
  white-space: nowrap;
}


#post ul {
  margin-left: -2em;
  }
#post ul,
#post ol,li {
  line-height:140%;
  font-size:95%;
}

#post li {
  margin: 0 0 3px 0;
}

/* For centering images */

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:0px;
}

blockquote {
  font-style:italic;
  font-size: 95%;
}
.poem p {
  font-family: 'Domine', georgia, serif;
  font-size:90%;
  line-height: 1.7em !important;
  padding-left:1.2em;
}

.tile {
  margin-top:3em;
  margin-bottom:3em;
}
.tile a {
  border-bottom:0 !important;
}

.tile img {
  max-width:100%;
  padding:0.5em;
}


    
 .tile2 {
   margin:0;
   padding:0;
 }
 .tile2 a {
   border-bottom:0 !important;
   margin:0;padding:0;
 }

 .tile2 img {
   max-width:100%;
   padding:0em;
   margin:0;
 }

.story {
  margin-top:1.25em;
  margin-bottom:1.25em;
}

